<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736427716625-ipoeva51pjbmrj1lg6hq739sf46tvmfi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736427716625-ipoeva51pjbmrj1lg6hq739sf46tvmfi</string>
	<key>API_KEY</key>
	<string>AIzaSyBfs0CWXBj5U2i7wBEdD63o7nJ8GZStj1o</string>
	<key>GCM_SENDER_ID</key>
	<string>736427716625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipeApp</string>
	<key>PROJECT_ID</key>
	<string>recipe-c716a</string>
	<key>STORAGE_BUCKET</key>
	<string>recipe-c716a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736427716625:ios:2357159e7eeafb697081b0</string>
</dict>
</plist>